/* ==========================================================================
Footer
   ========================================================================== */



/* Digonal footer - not working at the moment  - NEED TO FIX */ 
footer {
    position: relative;
    background: black;
    color: #fff;
    text-align: center;
    margin-top: 50px;
   

}

footer:before {
    position: absolute;
    content:'';


}

.diagonal {
    z-index: 1;
    padding: 1em;
    background: black;
}

.diagonal:before {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-4deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 100%;
    background: inherit;   

}



/* This is default footer while trying to fix diagonal 

footer {
    background-color: #000000;
    color: white;
    margin-top: 60px;
}


   footer p {
       text-align: right;
       font-size: 30px;
       margin-right: 50px;
       margin-top: 40px;
       padding-top: 10px;

   }

   #footer-social {
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-top: 10px;
   }

   #footer-social a {
       color: white;
   }

   #footer-social i {
       margin-right: 50px;
   }

   */ 